<h1>Posts#new</h1>

<%= bootstrap_form_for @post do |f| %>
<%= f.text_field :title, placeholder:"Title" %>
<%= f.text_field :link, placeholder:"URL" %>
<%= f.primary %>
<% end %>
<%= link_to "Back", root_path, class: "btn btn-success glyphicon glyphicon-chevron-left" %>